.button {
  font-family: 'Roboto', sans-serif;
  border: none;
  outline: none;
  color: black;
  background-color: #D1C4E9;
  border-radius: 2px;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 15px;
  transition: all 0.2s ease;
  user-select: none;

  &:hover {
    color: white;
    background-color: #4C4261;
  }

  &:active {
    color: #2a2a54;
    background-color: rgba(204, 198, 255, 0.47);
  }

  &:disabled {
    color: rgba(29, 24, 80, 0.43);
    background-color: rgba(204, 198, 255, 0.3);
  }
}

.errorButton {
  font-family: 'Roboto', sans-serif;
  border: none;
  outline: none;
  color: black;
  background-color: rgba(255, 133, 142, 0.55);
  border-radius: 2px;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 15px;
  transition: all 0.2s ease;
  user-select: none;

  &:hover {
    color: black;
    background-color:rgba(255, 133, 142, 0.9);
  }

  &:active {
    color: white;
    background-color: rgba(255, 133, 142, 1);
  }

  &:disabled {
    color: rgba(240, 225, 228, 0.87);
    background-color: rgba(255, 133, 142, 0.3);
  }
}

.wideButton {
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  color: black;
  background-color: rgba(255, 133, 142, 0.55);
  border: none;
  outline: none;
  border-radius: 50px;
  font-size: 16px;
  padding: 7px 30px;
  transition: all 0.2s ease;
  margin: 5px;
  user-select: none;

  &:hover {
    color: black;
    background-color: rgba(255, 133, 142, 0.9);
  }

  &:active {
    color: #2a2a54;
    background-color: rgba(204, 198, 255, 0.47);
  }

  &:disabled {
    color: rgba(29, 24, 80, 0.43);
    background-color: rgba(204, 198, 255, 0.35);
  }
}

.wideErrorButton {
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  color: white;
  background-color: #4C4261;
  border: none;
  outline: none;
  border-radius: 50px;
  font-size: 16px;
  padding: 7px 30px;
  transition: all 0.2s ease;
  margin: 5px;
  user-select: none;

  &:hover {
    color: black;
    background-color: #D1C4E9;
  }

  &:active {
    color: white;
    background-color: rgba(255, 133, 142, 1);
  }

  &:disabled {
    color: rgba(240, 225, 228, 0.87);
    background-color: rgba(255, 107, 115, 0.87);
  }
}

.applyWideButton {
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  color: white;
  background-color: #4C4261;
  border: none;
  outline: none;
  border-radius: 50px;
  font-size: 16px;
  padding: 7px 30px;
  transition: all 0.2s ease;
  margin: 5px;
  user-select: none;

  &:hover {
    color: black;
    background-color: #D1C4E9;
  }

  &:active {
    color: rgba(231, 224, 255, 0.92);
    background-color: #252361;
  }

  &:disabled {
    color: rgba(100, 93, 102, 0.62);
    background-color: rgba(134, 138, 239, 0.62);
  }
}