.children {
  height: 250px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}