a:active,
a:hover,
a {
  text-decoration: none;
  color: black;
}

.packContainer {
  display: flex;
  justify-content: space-around;
  max-width: 800px;
  width: 100%;
  color: black;

  .packContent {
    display: flex;

    & span {
      width: 100px;
      overflow: hidden;
      text-align: center;
    }
  }

  .buttons {
    display: flex;
    flex-direction: row;
    width: 175px;
    justify-content: flex-end;
  }
}