.app {
    background-color: rgb(241, 239, 239);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    min-height: 100%;
    width: 100%;
}