.app {
    background-color: rgba(156,153,156,0.41);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    min-height: 100%;
    width: 100%;
}