.link {
    text-decoration: none;
    margin: 10px;
}

.link:hover{
    color: cornflowerblue;
}


.active{
    color: #4676d7;
    text-decoration: none;
    margin: 10px;
    font-weight: bold;
}


.header{
    display: flex;
    width: 1000px;

}
